.circular {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    background: url(/website-xs-hq.png) no-repeat;
}

    .circular img {
        opacity: 0;
        filter: alpha(opacity=0);
    }

.space-lg{
    padding-top:50px;
}

.space-sm{
    padding-top:15px;
}

.space-md{
    padding-top:25px;
}

.center-el{
    margin: auto;
}